body {
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 0 10px 0 20px;
  align-items: center;
  font-size: 30px;
  border: 1px solid black;
  .nav-bar-menus{ 
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    width: 30vw;
  }
}

.welcome-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 150px 0 150px;
  border: 1px solid black;
  h1 {
    font-size: 50px;
  }
  .user-wrapper {
    display: flex;
    flex-direction: column;
    h2 {
      font-size: 30px;
    }
    button {
      border-radius: 5px;
      padding: 15px 32px;
      transition-duration: 0.4s;
    }
    button:hover {
      cursor: pointer;
      background-color: #04AA6D;
    }
  }
}

