body {
  overflow-x: hidden;
}
button, input[type="submit"] {
    z-index: 2;
    color: #fff;
    padding: 9px 12px;
    background: linear-gradient(0deg, rgba(0,172,238,1)0%, rgba(2,126,251,1) 100%);
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 5px;
    box-shadow: 0 .25em .5em 0 rgba(0, 0, 0, .1);
    transition: all 0.4s ease;
    outline: none;
}

button:hover, input[type="submit"]:hover {
  border-color: #fff;
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0 10px 0 20px;
  align-items: center;
  font-size: 20px;
  border: 1px solid black;
  .nav-bar-menus{ 
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    width: 30vw;
  }
}

.welcome-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 150px 0 150px;
  border: 1px solid black;
  h1 {
    font-size: 50px;
  }
  .user-wrapper {
    display: flex;
    flex-direction: column;
    h2 {
      font-size: 30px;
    }
    button {
      border-radius: 5px;
      padding: 15px 32px;
      font-size: 17px;
    }
  }
}
.summary-section {
  height: 12vh;
  text-align: center;
  font-size: 20px;
  border: solid 1px black;
}

.trips-section {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 0 0;
  .section-card-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: solid 1px black;
    border-radius: 10px;
    width: 30vw;
    height: 50vh;
    h3 {
      font-size: 30px;
      margin: 10px 0 30px 0;
    };
  }
}
.glide {
  height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(1%,-7%);
  img {
    align-content: center;
    aspect-ratio: 16/9;
    height: 25vh;
  }
  h4 {
    font-size: 25px;
    text-align: center;
    padding: 0;
    margin: 0;
  }
}
/*modal*/
dialog::backdrop {
  background-color:hsl(234, 44%, 66%, .2);
}
.modal {
  height: 85vh;
  width: 60vw;
  align-content: center;
  overflow-x: hidden;
  [data-close-modal] {
    float: right;
    transform: translate(-30%,-150%);
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 25px;
  }
  [data-close-modal]:hover {
    cursor: pointer;
  };
  .glide {
    margin-bottom: 10px;
    img {
      height: 45vh;
      transform: translate(25%)
    }
    button {
      text-transform: capitalize;
      font-size: 18px;
    }
    button.glide__arrow--left {
      margin-left: 50px;
      border-radius: 5px;
    }
    button.glide__arrow--right {
      margin-right: 50px;
      border-radius: 5px;
    }
    h4 {
      font-size: 35px;
    }
  } 
}
.form-estimate-wrapper {
  display: flex;
  justify-content: space-around;
  #book-trip-form {
    transform: translate(23%);
    input[type="number"] {
      width: 40px;
    }
    input[type="submit"]:hover{
      cursor: pointer;
    }
    select,input {
      margin: 15px 0 15px 0;
    }
    select,input:focus-within {
      border-color: coral;
    }
    label {
      font-size: 18px;
    }
    #calculate-estimate-btn {
      font-size: 18px;
      transform: translate(0%, 10%)
    }
    #book-trip-btn {
      font-size: 18px;
      float: right;
      transform: translate(510%,10%);
      z-index: 999;
    }
  }
  .breakdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(-10%,-5%);
    hr {
      width: 15vw;
    }
    h3 {
      align-self: center;
      margin: 0;
      padding: 0;
    }
    p {
      font-size: 18px;
    }
    p.estimate-flight-cost {
      margin: 0 14px 10px 0;
    }
    p.total-estimate {
      margin: 5px 25px 0 0 ;
      font-size: 20px;
      border: 0;
      line-height: 2;
    }
  }
}


